.SorterApp-header {
  background-color: bisque;
  border-radius: 12px;
  margin-bottom: 40px;
}

.SorterApp-title {
  font-size: 80px;
  display: inline-block;
  padding: 0% 5%;
  width: 25%;
  vertical-align: top;
}

.SorterApp-headerbuttons {
  display: inline-block;
  width: 65%;
}

.SorterApp-algopickercontainer {
  border: 1px solid black;
  border-radius: 12px;
  float: left;
  margin: 36px 36px 36px 0px;
  padding: 10px;
  vertical-align: top;
  width: 50%;
}

.right-wrap {
  float: left;
  margin-bottom: 36px;
}
.right-wrap:after {
  content: "";
}

.SorterApp-slidercontainer {
  border: 1px solid black;
  border-radius: 12px;
  display: inline-block;
  margin-top: 36px;
  padding: 10px;
  position: relative;
  vertical-align: top;
  width: 70%;
}

.SorterApp-actionbuttonscontainer {
  border: 1px solid black;
  border-radius: 12px;
  display: inline-block;
  margin-top: 24px;
  padding: 10px;
  position: relative;
  width: 70%;
}

.SorterApp-actionbutton {
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  height: 50px;
  text-align: center;
  transition-duration: 0.4s;
  width: 45%;
}

.run {
  background-color: #29c240;
  color: white;
  margin-right: 10%;
}
.reset {
  background-color: lightgray;
  color: black;
}

.SorterApp-bodyplaceholder {
  border: 3px dotted lightgray;
  border-radius: 12px;
  margin: 0px auto 20px;
  padding: 100px 0px;
  text-align: center;
  width: 90%;
}
