.AlgoContainer-container {
  background-color: black;
  border-radius: 12px;
  margin: 0px auto 20px;
  width: 95%;
}

.AlgoContainer-tooltip {
  border-bottom: 1px dotted black;
  display: inline-block;
  margin-bottom: 0px;
  position: relative;
}

.AlgoContainer-tooltiptext {
  background-color: white;
  border-radius: 6px;
  color: black;
  font-size: 12px;
  left: 110%;
  padding: 5px;
  position: absolute;
  text-align: left;
  top: -5px;
  visibility: hidden;
  width: 300px;
}

.AlgoContainer-tooltiptext::after {
  border-color: transparent white transparent transparent;
  border-style: solid;
  border-width: 5px;
  content: "";
  margin-top: -5px;
  position: absolute;
  right: 100%;
  top: 15px;
}
.AlgoContainer-tooltip:hover .AlgoContainer-tooltiptext {
  visibility: visible;
}

.AlgoContainer-info {
  background-color: black;
  color: white;
  display: inline-block;
  margin: 1%;
  width: 10%;
}

.AlgoContainer-runbutton {
  background-color: #29c240;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  float: right;
  font-size: 15px;
  margin: 24px;
  padding: 18px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
  width: 120px;
}

.AlgoContainer-disabled {
  background-color: lightgray;
  border: 1px solid black;
  color: gray;
}

.AlgoContainer-blocks {
  background-color: black;
  height: 550px;
  margin: auto;
  vertical-align: top;
  width: 99%;
}

.AlgoContainer-block {
  background-color: white;
  bottom: 0px;
  display: inline-block;
  vertical-align: bottom;
}
