.GridContainer-container {
  background-color: black;
  border-radius: 12px;
  margin: 0px auto 20px;
  padding-bottom: 20px;
  width: 95%;
}

.GridContainer-info {
  background-color: black;
  color: white;
  display: inline-block;
  margin: 2% 0 1% 1%;
  width: fit-content;
}

.GridContainer-tooltip {
  display: inline-block;
  margin-bottom: 0px;
  position: relative;
  width: max-content;
}

.GridContainer-tooltipicon {
  height: 12px;
  margin-left: 8px;
  width: 12px;
}

.GridContainer-tooltiptext {
  background-color: white;
  border-radius: 6px;
  color: black;
  font-size: 12px;
  font-weight: bold;
  left: 140%;
  padding: 5px;
  position: absolute;
  text-align: left;
  top: -6px;
  visibility: hidden;
  width: 300px;
}

.GridContainer-tooltiptext::after {
  border-color: transparent white transparent transparent;
  border-style: solid;
  border-width: 5px;
  content: "";
  margin-top: -5px;
  position: absolute;
  right: 100%;
  top: 15px;
}
.GridContainer-tooltip:hover .GridContainer-tooltiptext {
  visibility: visible;
}

.GridContainer-runbutton {
  background-color: #29c240;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  float: right;
  font-size: 15px;
  margin: 1%;
  padding: 18px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
  width: 120px;
}

.GridContainer-disabled {
  background-color: lightgray;
  border: 1px solid black;
  color: gray;
}

.GridContainer-grid {
  background-color: black;
  border-collapse: collapse;
  height: 550px;
  margin: auto;
  table-layout: fixed;
  width: 95%;
}

.GridContainer-unvisited {
  border: 1px solid lightgray;
}

.visited {
  background-color: blueviolet;
}

.path {
  background-color: deepskyblue;
}

.GridContainer-wall {
  background: repeating-linear-gradient(
    -45deg,
    black,
    black 2px,
    lightgray 3px,
    lightgray 6px
  );
}

.GridContainer-start {
  background-image: url("../../images/arrow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;

  border: 1px solid lightgray;
}

.GridContainer-end {
  background-image: url("../../images/target.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;

  border: 1px solid lightgray;
}
