.PathfinderApp-header {
  background-color: bisque;
  border-radius: 12px;
  margin-bottom: 40px;
}

.PathfinderApp-title {
  font-size: 80px;
  display: inline-block;
  padding: 0% 5%;
  width: 25%;
  vertical-align: top;
}

.PathfinderApp-headerbuttons {
  display: inline-block;
  width: 65%;
}

.left {
  float: left;
  margin: 36px 36px 36px 0px;
  width: 60%;
}

.PathfinderApp-algopickercontainer {
  float: left;
  padding: 10px;
  vertical-align: top;
}

.right {
  float: left;
  margin: 36px 0px;
  width: 30%;
}

.PathfinderApp-slidercontainer {
  display: inline-block;
  margin-top: 24px;
  padding: 10px;
  position: relative;
  vertical-align: top;
  width: 70%;
}

.PathfinderApp-buttonscontainer {
  display: inline-block;
  margin-top: 55px;
  padding: 10px;
  position: relative;
  width: 50%;
}

.PathfinderApp-button {
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  height: 50px;
  text-align: center;
  transition-duration: 0.4s;
  width: 100%;
}

.maze {
  background-color: lightblue;
  border: 1px solid black;
  color: black;
  margin-bottom: 10%;
}

.reset {
  background-color: lightblue;
  border: 1px solid black;
  color: black;
}

.disabled {
  background-color: lightgray;
  border: 1px solid black;
  color: gray;
}

.PathfinderApp-key {
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0px;
  text-align: left;
  width: 90%;
}

.PathfinderApp-keyitem {
  display: inline;
  margin: 12px;
  position: relative;
}

.key {
  background-color: black;
  border: 1px solid lightgray;
  bottom: -2px;
  display: inline-block;
  height: 20px;
  position: absolute;
  width: 20px;
}

.value {
  margin-left: 32px;
}

.start {
  background-image: url("Utilities/arrow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}

.end {
  background-image: url("Utilities/target.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.visited {
  background-color: blueviolet;
}

.path {
  background-color: deepskyblue;
}

.wall {
  background: repeating-linear-gradient(
    -45deg,
    black,
    black 2px,
    lightgray 3px,
    lightgray 6px
  );
}

.PathfinderApp-bodyplaceholder {
  border: 3px dotted lightgray;
  border-radius: 12px;
  margin: 0px auto 20px;
  padding: 100px 0px;
  text-align: center;
  width: 90%;
}

/* Responsive layout */
@media (max-width: 1350px) {
  .right {
    margin: 0px 0px 36px 0px;
    width: 75%;
  }
  .left {
    margin: 0px 0px 24px 0px;
    width: 90%;
  }
  .PathfinderApp-headerbuttons {
    display: inline-block;

    margin-left: 5%;
    width: 90%;
  }
}

@media (max-width: 470px) {
  .PathfinderApp-title {
    font-size: 60px;
  }
  .left {
    margin: 36px 0px 24px 0px;
    width: 90%;
  }
}
