.AlgoPicker-name {
  border: 2px solid #555555;
  cursor: pointer;
  display: inline-block;
  padding: 5px;
  font-size: 15px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
  width: 120px;
}

.AlgoPicker-active {
  background-color: #555555;
  color: white;
}

.AlgoPicker-inactive {
  background-color: white;
  color: black;
}
